body{
    font-family: 'Cantora One', sans-serif;
}

#title{
    color: #faf3dd;
    text-align: center;
    padding: 15px;
    background: #77B28C;
    border-radius: 5%;
    text-shadow: 1px 2px 1px black;
}
 
#top{
    margin: -8px;
    padding-top: 50px;
    padding-bottom: 50px;
    background: linear-gradient(#157A6E, #B4654A);
}

#hero{
    color: #faf3dd;
    display:flex;
    width: 800px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    background: linear-gradient(#a1cca5, #111d13);
    border:12px solid #C2C5BB;
}

#main-img{
    width: 800px;
    height: 500px;
    margin:0 auto;
}

#desc{
    padding: 5px;
    border-radius: 5%;
}

#second-header{
    display: flex;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 100px;
    justify-content: center;
    width: 600px;
    color: #faf3dd;
    text-shadow: 1px 2px 1px black;
    background: #77B28C;
    padding: 10px 0px;
    border-radius: 15px;

}

#place{
    width:300px;
    height:300px;
    border-radius: 50%;
    border: 8px solid #C2C5BB;
}

#locations-row{
    display:flex;
    justify-content: space-evenly;
    margin-bottom:50px;
}

#info{
    color: #faf3dd;
    width:350px;
    text-shadow: 2px 1px 2px black;
    border-radius: 5%;
    padding:24px;
    background: #77B28C;
}

#locations-info{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom:80px;
}

#bottom{
    background: linear-gradient();
    font-size:16px;
    padding: 60px 48px 38px 48px;
    border-bottom: 4px solid #157A6E;
    width:710px;
    display:flex;
    margin: 0 auto;
    justify-content:space-between;
}